name: app

services:
  app:
    restart: unless-stopped
    build:
      context: reviews-automation
      dockerfile: Dockerfile
    networks:
      - app
    env_file: .env
  #  postgres:
  #    image: postgres:17-alpine
  #    restart: unless-stopped
  #    volumes:
  #      - postgres_data:/var/lib/postgresql/data
  #    networks:
  #      - app
  #    environment:
  #      POSTGRES_USER: ${DATABASE_USER:-spaceman}
  #      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-spaceman}
  #      POSTGRES_DB: app_db_name
  #  adminer:
  #    image: adminer
  #    restart: always
  #    networks:
  #      - app
  ##      - caddy-public
  #  backup:
  #    image: eeshugerman/postgres-backup-s3:14
  #    depends_on:
  #      - postgres
  #    links:
  #      - postgres
  #    networks:
  #      - app
  #    environment:
  #      SCHEDULE: "@every 8h"
  #      S3_REGION: ${S3_REGION}
  #      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
  #      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
  #      S3_BUCKET: ${S3_BUCKET}
  #      S3_ENDPOINT: ${S3_ENDPOINT}
  #      S3_PREFIX: ${S3_PREFIX:-backups}
  #      POSTGRES_HOST: postgres
  #      POSTGRES_DATABASE: app_db_name
  #      POSTGRES_USER: ${DATABASE_USER:-spaceman}
  #      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-spaceman}
  #      POSTGRES_BACKUP_ALL: "false"
  #      POSTGRES_EXTRA_OPTS: --inserts --data-only
  #  caddy:
  #    image: caddy:2
  #    restart: unless-stopped
  #    ports:
  #      - "80:80"
  #      - "443:443"
  #      - "443:443/udp"
  #    networks:
  #      - caddy-public
  #    cap_add:
  #      - NET_ADMIN
  #    volumes:
  #      - ./Caddyfile:/etc/caddy/Caddyfile
  #      - caddy_data:/data

#volumes:
##  caddy_data:
##  postgres_data:

networks:
  app:
    name: app
#  caddy-public:
#    external: true
